@model projetoJapones.Models.modelFuncionario
@{ 
    Layout = null;
}
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cadastro Funcionário</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" type="text/css" href="~/assets/css/cadFun.css" media="screen" />
</head>

<div class="center">
    @using (Html.BeginForm("Index", "Funcionario", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
@Html.AntiForgeryToken()

    <div class="center">
        <section class="vh-100">
            <div class="centralizar">
                <div class="container-fluid h-custom">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-md-9 col-lg-6 col-xl-5">
                            <img src="~/assets/img/adm.png" class="imgLogin" alt="Sample image">
                        </div>
                        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                            <form>
                                <div class="form-horizontal">
                                    <h1 style="text-align:center;font-weight: 900;"><span>Cadastre-se</span></h1>
                                    <hr />
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group space-around-flex" >
                                        <div class="">
                                            @Html.LabelFor(model => model.nm_Funcio, htmlAttributes: new { @class = "control-label col-md-2" })
                                        </div>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.nm_Funcio, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                            @Html.ValidationMessageFor(model => model.nm_Funcio, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group center">
                                        <div>
                                            @Html.LabelFor(model => model.login_Funcio, htmlAttributes: new { @class = "control-label col-md-2" })
                                        </div>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.login_Funcio, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                            @Html.ValidationMessageFor(model => model.login_Funcio, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group center">
                                        <div>
                                            @Html.LabelFor(model => model.senha_Funcio, htmlAttributes: new { @class = "control-label col-md-2" })
                                        </div>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.senha_Funcio, new { htmlAttributes = new { @class = "form-control", @type = "password", @autocomplete = "off" } })
                                            @Html.ValidationMessageFor(model => model.senha_Funcio, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    
                                    <div class="form-group center">
                                        <div>
                                            @Html.LabelFor(model => model.codTipoUsuario, htmlAttributes: new { @class = "control-label col-md-2" })
                                        </div>
                                        <div class="col-md-10" style="color:black;">
                                            @Html.DropDownList("tipos", "Admin")
                                        </div>
                                    </div>
                                    <div class="form-group center">
                                        <div class="col-md-10">
                                            @ViewBag.msg <br />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Criar Conta" class="btn-grad" />
                                        </div>
                                    </div>
                                </div>

                                <p class="small fw-bold mt-2 pt-1 mb-0">
                                    Já tem conta? <a href="~/Views/Funcionario/Login.cshtml" class="link-danger"><span>Logar</span></a>
                                </p>

                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>}
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
